[Unit]
Description=Generate Unique Machine ID on First Boot
DefaultDependencies=no
After=edgeos-extension.service
# REMOVED local-fs.target from the line below to break the cycle:
Before=sysinit.target dbus.service
ConditionPathEmpty=/etc/machine-id

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '/usr/bin/systemd-machine-id-setup || /usr/bin/dbus-uuidgen --ensure=/etc/machine-id'

[Install]
WantedBy=sysinit.target