[Unit]
Description=EdgeOS Health and Telemetry Microservice
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/edgeos-app
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target